@use '../../styles/main.sass' as *

.an__about
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: $gs-200
    &-title
        width: 100%
        text-align: center
        padding-bottom: 2rem
    & h2
        font-family: $font-family
        font-size: 2rem
        font-weight: 700
    &-container
        display: flex
        flex-direction: row
        gap: 1rem
        padding: 0 2rem 0 2rem
        &-icon
            width: 100px



.light-mode
    .an__about
        &-title
            transition: all 0.2s ease-in-out
            background: $blue-dark
        &-container
            transition: all 0.2s ease-in-out
            background: $blue-dark

.dark-mode
    .an__about
        transition: all 0.2s ease-in-out
        &-title
            transition: all 0.2s ease-in-out
            background: $green
        &-container
            transition: all 0.2s ease-in-out
            background: $green



.line 
    display: flex
    align-items: center
    & hr
        height: 60%

.section__spacer
    transition: all 0.2s ease-in-out
    aspect-ratio: 960/300
    width: 100%
    background: none
    background-repeat: no-repeat
    background-position: center
    background-size: cover

.dark-waves-top
    background-image: url(../../assets/dark-waves-top.svg)

.dark-waves-bottom
    background-image: url(../../assets/dark-waves-bottom.svg)

.light-waves-top
    background-image: url(../../assets/light-waves-top.svg)

.light-waves-bottom
    background-image: url(../../assets/light-waves-bottom.svg)
