@use '../../styles/main.sass' as *

.light-mode
    .an__navbar
        background: $light

.dark-mode
    .an__navbar
        background: $dark-low

.an__navbar
    padding: 2rem 4rem
    gap: 1rem
    font-family: $font-family
    margin: 1rem
    border-radius: 10px

    &-links
        flex: 1

        &_logo
            gap: 2rem

            & img
                transform: scaleX(-1)
                width: 60px
                height: 60px
                cursor: pointer
            
            & p
                font-family: $font-family
                font-size: 24px
                font-weight: 800
                cursor: pointer

                background: $gradient-text
                background-clip: text
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
  
            /*
                &:hover .default
                    display: none
                &:hover .hovered:before
                    content:"ArteNeur A.I." 
                */
        &_container
            display: flex
            flex-direction: row
            justify-content: flex-end
            align-items: center
            gap: 1rem
            padding-right: 2rem
            padding-left: 2rem
            width: 100%
            & p:hover
                color: $gray
    &-sign
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        gap: 1rem
        
        & p
            cursor: pointer
            &:hover
                color: $gray
        
        & button
            cursor: pointer
            padding: 0.5rem 1rem
            border-radius: 10px
            font-size: 16px
            border: none
            transition: all 0.2s ease-in-out
            // &:hover
            //     color: $light-low
            //     background: $dark

    &-menu
        display: none
        flex-direction: row
        align-items: center
        justify-content: center
        padding: 1rem
        gap: 1rem
        &_container
            &-login
                display: flex
                flex-direction: column
                justify-content: center
                gap: 1rem

@media screen and (max-width: 800px)
    .an__navbar
        padding: 2rem
        &-links
            &_container
                display: none
        &-menu
            display: flex
            &_container-login
                    display: none

@media screen and (max-width: 550px)
    .an__navbar
        padding: 2rem
        &-links
            &_container
                display: none
        &-sign
            display: none
