@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

:root
  --color-bg
    &-primary-dark: #1c1c27
    &-secondary-dark: #28293e
    &-primary-light: #f8f8fa
    &-secondary-light: #ffffff
    &-text: #33333e

  --color-text
    &-primary-dark: #f7f8fe
    &-secondary-dark: #8f90a4
    &-primary-light: #343545
    &-secondary-light: #656576

  --color-solid
    &-red: #f65c5c
    &-green: #4ada8a
    &-blue: #5b8dee
    &-orange: #f9ac41
    &-yellow: #fddd49
    &-teal: #74e0e6
    &-purple: #ac5cd9

  --font-family: 'San Francisco', sans-serif
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%)
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%)