$light: #ffffff
$light-low: #f8f8fa

$dark: #1c1c27
$dark-low: #28293e

$gray: #8f90a4
$gray-low: #656576

$red: #f65c5c
$green: #4ada8a
$blue: #5b8dee
$orange: #f9ac41
$yellow: #fddd49
$teal: #74e0e6
$purple: #ac5cd9