@use '../styles/main' as *

.an__btn
    padding: 10px
    margin: 10px
    position: absolute
    bottom: 0
    border-radius: 30px

.light-mode
     .an__btn
        background: $light
        border: $light-low 5px solid

.dark-mode
     .an__btn
        background: gray
        border: $gray-low 5px solid